.row {
  display: flex;
  height: 100vh;
}

.left {
  flex: 20%;
  background-color: #778da9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  flex: 80%;
  background-color: #0d1b2a;
  display: flex;
  justify-content: center;
  align-items: center;
}
